{% extends 'base.html.twig' %}

{% block title %}Ajouter une image - {{ parent() }}{% endblock %}

{% block body %}
    <div class="form-block">
        {{ form_start(form) }}
        {{ form_row(form.imageFile, {label: 'Ajoutez une image'}) }}
        {{ form_row(form.description) }}
            <button class="button">{{ button_label|default('Poster la photo') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
