<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}C'est le Pied!{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">{% endblock %}
    </head>
    <body>
        <header>
            <navbar>
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_add_picture') }}">Ajouter une image</a></li>
                    <li>
                        {% if app.user %}
                            <a href="{{ path('app_profile', { username: app.user.username }) }}">Mon profil</a>
                        {% else %}
                            <a href="{{ path('app_login') }}">Se connecter</a>
                        {% endif %}
                    </li>
                </ul>
            </navbar>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
