{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

    {% for picture in pictures %}
        <div class="picture-block">
            <h2><a href="{{ path('app_profile', { username: picture.owner.username }) }}">{{ picture.owner.username }}</a></h2>
            <a href="{{ path('app_show_picture', { id: picture.id }) }}"><img src="/assets/uploads/{{ picture.imageURL }}" alt="{{ picture.description }}"></a>
            <p>{{ picture.description }}</p>
        </div>
    {% endfor %}

{% endblock %}
