{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ user.username }}</h1>

    {% for picture in user.pictures %}
        <a href="{{ path('app_show_picture', { id: picture.id }) }}">
            <figure>
                <img src="/assets/uploads/{{ picture.imageURL }}" alt="{{ picture.description }}">
            </figure>
        </a>
    {% endfor %}

    <a href="{{ path('app_logout') }}">Se déconnecter</a>

{% endblock %}
