{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} - {{ parent() }}{% endblock %}

{% block body %}

    {% for picture in user.pictures %}
    <div class="picture-block">
        <a href="{{ path('app_show_picture', { id: picture.id }) }}"><img src="/assets/uploads/{{ picture.imageURL }}" alt="{{ picture.description }}"></a>
    </div>
    {% endfor %}

    <a href="{{ path('app_logout') }}">Se déconnecter</a>

{% endblock %}
